input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a.none {
    text-decoration: none;
}

.btn.dropdown-toggle::after {
    display: none !important;
}

footer a {
    color: white;
}

footer a:hover {
    color: gray;
}

.iconrotate90:hover .fas {
    transition: 0.9s;
    transform: rotate(90deg);
}

.main-tile {
    color: var(--dark);
}

@media only screen and (max-width: 991px) {
    img.avatar {
        width: auto;
        max-width: 30%;
        height: auto;
    }
}

@media (min-width: 992px) {
    img.avatar {
        width: auto;
        max-width: 50%;
        height: auto;
    }
}

div.main-tile-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*  CATEGORY  */

.main-category-item {
    font-size: 150%;
}

.category-item {
    padding: 3px;
}

.category-item:hover {
    background: #2196F3;
    color: white;
    transition: 0.15s ease-in-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#categoryBack {
    text-decoration: none;
    color: #2196F3;
}

#categoryBack:hover {
    background: #2196F3;
    color: white;
    transition: 0.15s ease-in-out;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.category-item-back {
    padding: 3px;
}